@font-face{
    font-family: "paso";
    src: url("../fonts/The Constellation.ttf");
}

@font-face{
    font-family: "titulo";
    src: url("../fonts/calibri-bold.ttf");
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#img_fondo{
    background-image: url('/static/img/fondo_ventas.jpg');
    background-size: 100vw auto; /* Esto hace que la imagen de fondo cubra todo el ancho y se ajuste automáticamente en altura */
    background-repeat: no-repeat; /* Esto evita que la imagen de fondo se repita */
    background-size: cover;
    width: 100vw; /* Esto hace que el contenedor ocupe todo el ancho de la pantalla */
}

.titulo {
    position: relative;
    font-size: 50px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #8E5A37;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "titulo";
}

.kit{
    font-family: "paso";
}

.subti {
    position: relative;
    font-size: 30px;
    margin-top: 15%;
    left: 10%;
    list-style-type: none;
    align-items: center;
}

.subti li {
    font-size: 35px;
    color: #8E5A37;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    font-family: "titulo"; 
}

.subti p {
    margin-top: 10px;
    color: black;
    font-size: 25px;
}

.subti li.subt {
    margin-top: 20px;
}

.subti li.fecha {
    margin-top: 20px;
    font-size: 60px;
    position: relative;
    left: 11%;
    font-family: "paso";
}

.img_pequena {
    width: 400px; /* Cambiado de 10px a 50px para hacer la imagen más pequeña */
    height: auto;
    margin-left: 63%;
    margin-top: -24%;
}

.linea {
    height: 5px; /* Altura de la línea */
    width: 60%; /* Ancho del div */
    margin-top: 5%;
    border-bottom: 3px solid black; /* Borde inferior para simular la línea */
    margin-left:auto;
    margin-right: auto;
}

.subti2 {
    font-size: 30px;
    margin-left: 35%;
    list-style-type: none;
    margin-top: 5%;
}

.subti2 li {
    font-size: 35px;
    color: #8E5A37;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "titulo";
}

.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;  
}

.iconos i {
    font-size: 120px; /* Aumenta el tamaño de los iconos a 60px */
    margin: 8%;
    color: #8E5A37;
}

.tex {
    margin-top: 5px; /* Espacio entre el icono y el texto */
    font-size: 30px; /* Tamaño del texto */
}

 /* aqui empezamos a realizar el responsivo desde el Pasos para el uso de tu
Kit Fungi hasta los iconos */

.texto-adicional {
    background-image: url('/static/img/pie_pagina2.jpg');
    color: white;
    padding: 12%;
    width: 100%;
    text-align: center;
    margin-top:0%; 
    height: 80px;
  }
  
  .logo2{
    height: 250px;
    margin-top: -10%;
  }

  @media only screen and (min-width: 1600px) and (max-width: 1699px){
  }
  @media only screen and (min-width: 1500px) and (max-width: 1599px){
    .img_pequena img{
        margin-top: -25%;
        width: 350px;
        margin-left: 10%;
    }

    .titulo {
        font-size: 45px;
        top: 60px;
    }
    
    .subti {
        margin-top: 12%; 
    }

    .linea{
        margin-top: 10%;
    }

    .subti2 {
        margin-left: 30%;
    }

    .iconos{
        margin-top: -2%
    }
      
  }
  @media only screen and (min-width: 1400px) and (max-width: 1499px){
    .img_pequena img{
        margin-top: -35%;
        width: 350px;
        margin-left: 5%;

    }

    .titulo {
        font-size: 45px;
        top: 40px;
    }
    
    .subti {
        margin-top: 10%; 
        font-size: 20px;
    }

    .linea {
        margin-left: 20%;
        margin-top: 10%;
    }

    .subti2 {
        margin-left: 29%;
        font-size: 20px;
    }
    
    .iconos{
        margin-top: -3%;
    }

    .texto-adicional {
        height: 80px;
      }
      
      .logo2{
        height: 230px;
        margin-top: -11%;
      }
          
  }
  @media only screen and (min-width: 1300px) and (max-width: 1399px){
    .img_pequena img{
        margin-top: -25%;
        width: 300px;
        margin-left: 5%;
    }

    .titulo {
        font-size: 45px;
        top: 40px;
    }
    
    .subti {
        margin-top: 10%; 
        font-size: 20px;
    }

    .subti li {
        font-size: 30px;
    }
    
    .subti p {
        margin-top: 10px;
        font-size: 20px;
    }
    
    .subti li.subt {
        margin-top: 20px;
    }
    
    .subti li.fecha {
        margin-top: 20px;
        font-size: 50px;
        left: 11%;
    }

    .linea {
        margin-left: 20%;
        margin-top: 10%;
    }

    .subti2 {
        margin-left: 29%;
        font-size: 20px;
    }
    
    .iconos{
        margin-top: -3%;
        margin-left: 4%;
    }

    .iconos i {
        font-size: 100px; /* Aumenta el tamaño de los iconos a 60px */
        margin: 7%;
    }       
    
    .texto-adicional {
        height: 80px;
      }
      
      .logo2{
        height: 220px;
        margin-top: -12%;
      }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1299px){
    .img_pequena img{
        margin-top: -18%;
        width: 280px;
        margin-left: 5%;
    }

    .titulo {
        font-size: 40px;
        top: 40px;
    }
    
    .subti {
        margin-top: 7%; 
        font-size: 20px;

    }

    .subti li {
        font-size: 27px;
    }
    
    .subti p {
        margin-top: 10px;
        font-size: 17px;
    }
    
    .subti li.subt {
        margin-top: 20px;
    }
    
    .subti li.fecha {
        margin-top: 20px;
        font-size: 46px;
        left: 11%;
    }

    .linea {
        margin-left: 20%;
        margin-top: 10%;
    }

    .subti2 {
        margin-left: 25%;
        font-size: 20px;
    }
    
    .iconos{
        margin-top: -3%;
        margin-left: 6%;
    }

    .iconos i {
        font-size: 90px; /* Aumenta el tamaño de los iconos a 60px */
        margin: 6%;
    }  
    
    .texto-adicional {
        height: 80px;
      }
      
      .logo2{
        height: 210px;
        margin-top: -12%;
      }
  }
  @media only screen and (min-width: 1100px) and (max-width: 1199px){
    .img_pequena img{
        margin-top: -24%;
        width: 280px;
        margin-left: 5%;
    }

    .titulo {
        font-size: 37px;
        top: 35px;
    }
    
    .subti {
        margin-top: 7%; 
        font-size: 18px;

    }

    .subti li {
        font-size: 27px;
    }
    
    .subti p {
        margin-top: 10px;
        font-size: 17px;
    }
    
    .subti li.subt {
        margin-top: 20px;
    }
    
    .subti li.fecha {
        margin-top: 20px;
        font-size: 46px;
        left: 11%;
    }

    .linea {
        margin-left: 20%;
        margin-top: 10%;
    }

    .subti2 {
        margin-left: 25%;
        font-size: 20px;
    }
    
    .iconos{
        margin-top: -3%;
        margin-left: 6%;
    }

    .iconos i {
        font-size: 90px; /* Aumenta el tamaño de los iconos a 60px */
        margin: 6%;
    }    

    .texto-adicional {
        height: 80px;
      }
      
      .logo2{
        height: 200px;
        margin-top: -12%;
      }

  }
  @media only screen and (min-width: 1000px) and (max-width: 1099px){

    .img_pequena img{
        margin-top: -24%;
        width: 280px;
        margin-left: 5%;
    }

    .titulo {
        font-size: 37px;
        top: 35px;
    }
    
    .subti {
        margin-top: 7%; 
        font-size: 18px;

    }

    .subti li {
        font-size: 27px;
    }
    
    .subti p {
        margin-top: 10px;
        font-size: 17px;
    }
    
    .subti li.subt {
        margin-top: 20px;
    }
    
    .subti li.fecha {
        margin-top: 20px;
        font-size: 46px;
        left: 11%;
    }

    .linea {
        margin-left: 21%;
        margin-top: 10%;
    }

    .iconos{
        margin-top: -3%;
        margin-left: 6%;
    }

    .iconos i {
        font-size: 90px; /* Aumenta el tamaño de los iconos a 60px */
        margin: 6%;
    }    

    .texto-adicional {
        height: 80px;
      }
      
      .logo2{
        height: 180px;
        margin-top: -13%;
      }

      .subti2 li{
        margin-left: -20%;
      }

 
  }

